@using Microsoft.Extensions.Configuration;
@{
    var config = new ConfigurationBuilder().AddJsonFile("appsettings.json").Build();
}

<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">

@*         <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="darkSwitch">
                <label class="custom-control-label" style="font-weight:400" for="darkSwitch">Dark Mode</label>
            </div> *@
    </div>
    <!-- Default to the left -->
    <div class="row">
        <div class="col-6">
            Copyright <span>&copy;</span> @DateTime.Now.Year MysteryShopper
        </div>
        <div class="col-6 text-right">
            Version @config["Application:WebVersion"]
        </div>
    </div>
</footer>