<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="confirmation-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer" id="button-container">
                <button type="button" class="btn btn-primary" id="confirm-submission">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>