@model SurveyUs.Web.Areas.Questions.Model.QuestionsViewModel
<div class="row">
    <h3 class="mb-3 ml-2" style="color:black">@localizer["Questions"]</h3>
</div>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="~/campaign/campaign/index" class="btn btn-default" disable><i class="fa fa-home pr-2"></i>Campaigns</a>
        <a href="~/store/store/index?campaignId=@Model.CampaignId" class="btn btn-default">Stores</a>
        <a href="~/questions/questions/index?campaignId=@Model.CampaignId&storeId=@Model.StoreId" class="btn btn-default">Questions</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <b>Store Name : </b>
            </div>
            <div class="col-4">
                @Model.StoreName
            </div>
            <div class="col-2">
                <b>Campaign Name : </b>
            </div>
            <div class="col-4">
                @Model.CampaignName
            </div>
        </div>
    </div>
</div>

<div class="card">
   @*  @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-sm-9 col-12" style="padding: 20px;">
            </div>
        </div>
    } *@
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#questionsTable").DataTable();
            loadData();
        });

        function loadData(pageNumber = 1) {
            $('#viewAll').load('/questions/questions/LoadAll?campaignId=@Model.CampaignId&storeId=@Model.StoreId&pageNumber=' + pageNumber);
        }

        //button in modal
        $("#confirm-submission").click(function ()
        {
            $('#questionnaireForm').trigger('submit');
        });
    </script>
}
